<% include partials/header %>

<h1>You fell: <%= thingVar.toUpperCase() %> </h1>

<% if(thingVar.toUpperCase() === "RUSTY"){ %>
    <p>Good choice</p>
<% } else { %>
    <p>Bad choice</p>
<% } %>

<p>P.S. this is incomplete</p>

<% include partials/footer %>