<h1>You fell: <%= thingVar.toUpperCase() %> </h1>

<% if(thingVar.toUpperCase() === "RUSTY"){ %>
    <p>Good choice</p>
<% } else { %>
    <p>Bad choice</p>
<% } %>

<p>P.S. this is incomplete</p>

<!-- Bronvermelding -->
<br>
<br>
<p style="text-align: center; margin: 0; padding: 0;"> <span style="border: solid 1px; margin: 0; padding: 0 5px;">Based on course "The Web Developer Bootcamp | Udemy" from Colt Steele</span></p>