<h1>The Post Page</h1>

<% posts.forEach(function(post){ %>
    <li>
        <%= post.title %> - <strong><%= post.author %></strong>
    </li>
<% }) %>


<!-- bronvermelding -->
<br>
<br>
<p style="text-align: center; margin: 0; padding: 0;"> <span style="border: solid 1px; margin: 0; padding: 0 5px;">Based on course "The Web Developer Bootcamp | Udemy" from Colt Steele</span></p>